<div class="container">
    <div id="login-wrapper" class="col-md-4 col-md-offset-4">
      <h2>Register for nom!</h2>
      <form action="/auth/register_result" method="post" role="form">
          <div class="form-group">
            <input type="text" name="first_name" align="middle" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" name="last_name" align="middle" class="form-control" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" name="username" align="middle" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" name="password" align="middle" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Register</button>
            <p>
              <a href="/">&laquo; Go back </a>
            </p>
          </div>
      </form>
    </div>
</div>
